# ==============================================================================
# Core Machine Learning & Object Detection Frameworks
# ==============================================================================
ultralytics
torch
torchvision

# ==============================================================================
# Data Processing & Image Manipulation Libraries
# ==============================================================================
numpy
opencv-python
pillow

# ==============================================================================
# UI Presentation Dashboard App
# ==============================================================================
streamlit